/*css cho arrow menu*/
.menu-item{
    width: 325px;
    height: 40px;
    background-color: transparent;
    border-radius: 0;
    color: black;
    text-align: left;
    font-size: 16px;
    border: none;
    display: flex;
    justify-content: space-between;
}



/* style arrow */
.woman-fashion::after{

}

.men-fashion::after{

}