.custom-input-discount{
  width: 560px;
  height: 15%;
  display: flex;
  justify-content: space-between;
}

.input-code-coupon{
  width: 310px;
}

.button-code-coupon{
  width: 220px;
}

.style-button-discount{
  width: 100%;
  height: 100%;
}