.footer {
  padding: 20px 0;
  flex: 0 0 2vh;
  background-color: black;
  width: 1670px;
  justify-content: center;

  p {
    color: white;
    text-align: left;
  }

  .footer p:first-of-type {
    font-size: 24px;
    font-weight: bold;
  }

  .footer p:not(:first-of-type) {
    font-size: 20px;

    &:not(:nth-child(n+3)) {
      font-size: 16px;
    }
  }

  .copyright {
    color: dimgrey;
    text-align: center;
    font-size: 16px;
  }
}